{% extends "base.html" %}
{% block content %}

<div class="card auth-card">

    <div class="auth-title">Reset Password 🔐</div>
    <div class="auth-subtitle">Enter your details to set a new password</div>

    <form method="POST">

        <div class="input-group-custom">
            <i class="fa-solid fa-phone"></i>
            <input type="text" name="mobile" class="form-control" placeholder="Mobile Number" required>
        </div>

        <div class="input-group-custom">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="password" class="form-control" placeholder="New Password" required>
        </div>

        <div class="input-group-custom">
            <i class="fa-solid fa-check"></i>
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
        </div>

        <button type="submit" class="btn btn-warning w-100 auth-btn">
            Reset Password
        </button>

    </form>

    <div class="auth-footer">
        Remember your password?
        <a href="{{ url_for('login') }}">Back to Login</a>
    </div>

</div>

{% endblock %}